/**
 * Input tag customize
 */
.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    padding: 5px 10px;
    display: inline-block;
    background: var(--white);
    border-radius: 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    color: #000;
}
.input-width {
    display: table;
    text-align: left;
    width: 80%;
}

.custom-file-input::before {
    content: 'upload background image';
}